
// Colors used throughout the site:

$color-white: #fff;

$color-primary: #5615ac;
$color-primary-hover: #5d2f99;
$color-primary-active: #219ce4;

$color-secondary: #c901c9;
$color-secondary-hover: #a152a1;
$color-secondary-active: #e4b533;

$color-dark-gray: #222222;
$color-med-gray: #4e4e4e;
$color-light-gray: #999999;
$color-lightest-gray: #f2f2f2;
