// Colors used throughout the site:

$color-white: #fff;

$color-primary: #5C2299;
$color-primary-hover: #7544aa;
$color-primary-active: #cfbce4;

$color-secondary: #FE3090;
$color-secondary-hover: rgb(194, 78, 132);
$color-secondary-active: #e4c6df;

$color-dark-gray: #222222;
$color-med-gray: #4e4e4e;
$color-light-gray: #999999;
$color-lightest-gray: #f2f2f2;
