// Colors used throughout the site:

$color-white: #fff;

$color-primary: #5C2299;
$color-primary-hover: #9f74ce;
$color-primary-active: #cfbce4;

$color-secondary: #FE3090;
$color-secondary-hover: #d37aa3;
$color-secondary-active: #e4c6df;

$color-dark-gray: #222222;
$color-med-gray: #4e4e4e;
$color-light-gray: #999999;
$color-lightest-gray: #f2f2f2;

$color-succes:#1dcc1d;
$color-wrong: #f98b1e;
$color-missed: #cc531d;
