@mixin make-veton-container() {
  @include make-container();
  @include make-container-max-widths();
}

@mixin make-veton-container-max-widths(){
  @include make-container-max-widths();
}

@mixin make-veton-row($gutter: true) {
  @include make-row();

  @media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)) {
    @if $gutter {
      padding-left: 15px;
      padding-right: 15px;
    } @else {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
    @if $gutter {
      padding-left: 25px;
      padding-right: 25px;
    } @else {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl)) {
    @if $gutter {
      padding-left: 35px;
      padding-right: 35px;
    } @else {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    max-width: 1720px;
    @if $gutter {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@mixin make-veton-col($size) {
  position: relative;
  width: 100%;
  @include make-col($size);

  @media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)) {
    padding-left: 4px;
    padding-right: 4px;
  }

  @media (min-width: map-get($grid-breakpoints, sm)) and (max-width: map-get($grid-breakpoints, md)) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl)) {
    padding-left: 12.5px;
    padding-right: 12.5px;
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

