.navbar-veton  {
    background: #f2f2f2 !important;
    .logo_app {
        padding: 0 40px 0;
    }
    .nav-link-veton {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 16px;
        &.active {
            .material-icons {
                color: #5c2299;
            }
        }
    }
     
}

