.veton-container{
  @include  make-veton-container();
  &__hero{
    padding-top: 2.3rem;
    @include make-veton-row();
    h2{
      font-size: $h2-font-size;
      @include main-titles;
    }
  }
  &__list{
    @include make-veton-row();
    margin-top: 2.3rem;
    &__container-search{
      @include make-veton-col(12);
      .searchbox__form{
        border: 2px solid $color-primary;
        border-radius: .7rem;
      }
    }
    &__container-list{
      margin-top: 2.3rem;
      @include make-veton-col(12);
      &__row{
        @include make-veton-row();
      }
    }
  }
}