@import '../../assets/sass/styles.scss';

.pet {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: $color-lightest-gray;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 3px 10px $color-light-gray;
  }

  .pet__info {
    width: 100%;
    .pet__text {
      font-size: 17px;
      color: $color-dark-gray;
      margin: 5px;
    }
    .pet__title  {
      margin-right: 10px;
      font-weight: 400px;
    }
  }

  .pet__img {
    cursor: pointer;
  }
}
