.hero-veton-container{
  @include  make-veton-container();
  &__veton-row{
    padding-top: 2.3rem;
    @include make-veton-row();
    &__col1{
      @include make-veton-col(10);
      h2{
        font-size: $h2-font-size;
        @include main-titles;
      }
    }
    &__col2{
      @include make-veton-col(2);
      display: flex;
      justify-content: flex-end;
      a{
        align-self: center;
      }
    }
    &__list{
      @include make-veton-col(12);
    }
  }
}