.register-view {
    text-align: center;
    max-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .status-view {
        padding-top: 10px;
    }
}