.card-pet{
  background: $color-lightest-gray;
  min-height: 32rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  border-radius: .7rem;
  padding: 3rem 3rem 3rem 3rem;
  box-shadow: 0px 0px 0px -4px #b9b4b4;

  &__image{
    @include make-veton-row();
    display: flex;
    justify-content: center;
    img{
      width: 16rem;
      height: 16rem;
      border-radius: 10rem;
      border: 5px solid $color-secondary;
    }
  }
  
  &__name{
    @include make-veton-row();
    display: flex;
    justify-content: center;
    h3{
      color: $color-primary;
      font-size: $h3-font-size;
      text-align: center;
      margin-top: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__data{
    @include make-veton-row();
    color: $color-light-gray;
    margin: 1rem 0 1rem 0;

    &__birthday{
      @include make-veton-col(8);
      text-align: center;
    }

    &__weight{
      @include make-veton-col(4);
    }
  }

  &__info-chips{
    @include make-veton-row();
    color: $color-white;
    text-align: center;
    display: flex;
    margin-bottom: 2.5rem;
    &__vacuna{
      @include make-veton-col(5);
      background: $color-succes;
      border-radius: .5rem;
      padding: .2rem .6rem .2rem .6rem;
      margin-right: .5rem;
    }

    &__consulta{
      @include make-veton-col(6);
      background: $color-missed;
      border-radius: .5rem;
      padding: .2rem .6rem .2rem .6rem;
    }
  }

  &__alert{
    @include make-veton-row();
    color: $color-wrong;
    text-align: center;
  }

  &__addHistory{
    margin-top: 2rem;
    @include make-veton-row();
    color: $color-white;
    text-align: center;
    background: $color-primary;
    padding: 1.5rem 1rem;
    border-radius: .7rem;
    font-size: 1.6rem;
    i{
      margin-right: 1rem;
    }
    a{
      color: $color-white;
    }
  }
  &__addHistory:hover{
    transition: .2s;
    background: $color-primary-hover;
  }
  &__hidebutton{
    margin-top: 2rem;
    width: 18rem;
    height: 5.4rem;
  }
  
}
.card-pet:hover{
  transition: .2s;
  box-shadow: 0px -9px 0px 0px $color-primary-hover;
}
